<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">YelpCamp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="/campgrounds">Campgrounds</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="/campgrounds/new">New Campground</a>
          </li>
          
          <!--PARA O LOGIN FICAR DO LADO DIREITO Aula 511 ele usou bootstrap 4 por isso aqui está diferente pq estou usando o 5-->
          <div class="navbar-nav ms-auto">
            <!--currentUser vem do app.js auls 512 vem com id,username e email do usuário-->
            <% if(!currentUser) {%>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/register">Register</a>
                </li>
            <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            <% } %>
          </div>               
      </ul>
    </div>
  </div>
</nav>